@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
html {
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, #92fe9d 0%, #00c9ff 100%);
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*html {
    scroll-behavior: smooth;
    overflow: scroll;
    height: 1000px;
    /*overflow-x: hidden;
    this removes horiz scroll bar
}*/

li,
a {
    color: white;
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 30px 10%;*/
    padding: 30px 2%;
}

.nav_logo {
    cursor: pointer;
    color: white;
    /*color: rgb(5, 146, 127);*/
    /*color: #92fe9d;*/
    /*font-size: x-large;*/
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    /*padding: 0px 20px;*/
    padding: 0px 12px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(5, 146, 127);
    /*color: aquamarine;*/
}

.nav__links li a.active {
    color: rgb(5, 146, 127);
}